alembic
click
dataclasses
Flask==1.1.2
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
python-dateutil
python-editor
six
SQLAlchemy
typing-extensions
Werkzeug
zipp
